/*        Import Google Fonts       */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


.site-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    position: static;
    top: 0;
    background: #c69c6c;
    z-index: 999;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 20px;
    width: 100%;
    max-width: 1400px;
    height: 70px;
}

.navbar__logo {
    color: hsl(0, 0%, 100%);
    font-size: 2rem;
    font-weight: 600;
    font-family: "Playwrite NZ Basic", "cursive";
    cursor: pointer;
}

.navbar__toggle {
    display: none;
    border: none;
    background: transparent;
    z-index: 999;
}

.navbar__toggle-bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    color: hsl(0, 0%, 100%);
}

.navbar__menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 15px;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.navbar__menu-link {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    background: transparent;
    border: none;
    padding: 8px;
    border-radius: 15px;
    color: #ffffff;
    transition: all 0.3s ease;
}

.navbar__menu-link:active {
    font-size: 1.4rem;
    font-weight: 600;
}

.navbar__menu-link--active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 8;
    font-size: 1.6rem;
    font-weight: 600;
    color: #1c1c1c;
    transition: all 0.4s ease;
}

.navbar__menu-link--active::after {
    content: "";
    width: 100%;
    height: 8%;
    position: absolute;
    border-radius: 20px;
    bottom: 0;
    background: #1c1c1c;
}
/*
@property --deg {
    syntax: '<angle>';
    inherits: true;
    initial-value: 0deg;
}

@keyframes spin {
    to {
        --deg: 360deg;
    }
}

.navbar__menu-link--active::before,
.navbar__menu-link--active::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: inherit;
    background: conic-gradient(
        from var(--deg) at center,
        #e5ff00,
        #000000,
        #000000,
        #f6ff00
    );
    z-index: -2;
    padding: 2px;
    transition: all 3s ease;
    animation: spin 3s linear infinite;
}

.navbar__menu-link--active::before {
    filter: blur(10px);
}
*/


.site-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #c69c6c;
    width: 100%;
    height: auto;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1600px;
    width: 100%;
    height: 100vh;
    background: url(images/hero-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
    padding: 20px;
    background: #c69c6c2a;
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.hero__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
}

.hero__text-title {
    color: #c69c6c;
    font-size: 2.5rem;
    font-weight: 800;
}

.hero__text-subtitle {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 750;
}

.hero__text-paragraph {
    color: #040303;
    font-size: 1.8rem;
    font-weight: 700;
}

.hero__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.hero__btn-orderNow {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
    color: #1c1c1c;
    background: #c69c6c;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #c69c6c;
    transition: all 0.3s ease;
}


.hero__btn-more {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
    color: #c69c6c;
    border: 2px solid #c69c6c;
    padding: 10px;
    border-radius: 20px;
    background: transparent;
    transition: all 0.3s ease;
}

.hero__btn-orderNow:hover {
    background: none;
    color: #c69c6c;
}

.hero__btn-more:hover {
    background: #c69c6c;
    color: #1c1c1c;
}

.hero__btn-orderNow:active {
    background: hsl(32, 44%, 70%);
}

.hero__btn-more:active {
    background: hsl(32, 44%, 50%);
}

.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background: #c69c6c;
}

.about {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    max-width: 1400px;
    width: 100%;
    height: 100vh;
}

.about__files {
    max-width: 600px;
    width: 100%;
}

.about__files-image {
    width: 100%;
    border-radius: 400px;
}

.about__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    max-width: 800px;
    width: 100%;
}

.about__details-title {
    font-size: 2.5rem;
    font-weight: 800;
    color: #1c1c1c;
}

.about__details-paragraph {
    font-size: 1.4rem;
    font-weight: 500;
    color: #1c1c1c;
}

.about__details-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    border: none;
    border-radius: 10px;
}

.about__icon-instagram,
.about__icon-telegram,
.about__icon-twitter,
.about__icon-youtube {
    text-decoration: none;
    color: #1c1c1c;
    font-size: 3.5rem;
    font-weight: 800;
    padding: 5px;
    background: transparent;
    border: none;
}

.menu-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background: #3b2f2f;
}

.menu-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1600px;
    position: relative;
    width: 100%;
    height: 60px;
    padding: 20px;
    background: #c69c6c3f;
    backdrop-filter: blur(10px);
    z-index: 999;
}

.menu-cart__title {
    font-size: 2.5rem;
    font-weight: 800;
    color: #1c1c1c;
    padding: 5px;
}

.menu-cart__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 5px;
}

.menu-cart__icons-shoppingIcon {
    font-size: 2rem;
    font-weight: 700;
    color: #eeeee6;
    padding: 5px;
}

.menu-cart__icons-number {
    display: flex;
    align-items: center;
    justify-content: center;
    background: red;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 5px;
    font-size: 1.5rem;
    font-weight: 600;
}

.menu-cart__cart {
    list-style: none;
    display: none;
    grid-template-rows: 60px 1fr 70px;
    max-width: 500px;
    width: 100%;
    height: 100vh;
    position: absolute;
    inset: 0 0 0 auto;
    opacity: 0;
    overflow-y: auto;
    background: #c69c6c;
    transition: all 0.3s ease;
    z-index: 999;
}

.menu-cart__cart--active {
    opacity: 1;
    display: grid;
}

.menu-cart__cart-totalPrice {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background: #040303;
    color: #eeeee6;
    font-size: 2.5rem;
    width: 100%;
    height: 60;
    font-weight: 700;
}

.menu-cart__cart-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background: #3b2f2f;
    padding: 20px;
}

.menu-cart__cart-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
    background: #c69c6c;
    border: 2px solid none;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.menu-cart__item-files {
    max-width: 70px;
    width: 100%;
}

.menu-cart__item-img {
    width: 100%;
    border-radius: 10px;
}

.menu-cart__item-name,
.menu-cart__item-price {
    font-size: 1.3rem;
    font-weight: 500;
    color: #1c1c1c;
}


.menu-cart__item-Btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}


.menu-cart__item-minusBtn,
.menu-cart__item-plusBtn {
    font-size: 1.3rem;
    font-weight: 500;
    padding: 4px 8px;
    border: none;
    border-radius: 20px;
    background: #1c1c1c;
    color: #ffffff;
}
.menu-cart__item-numebr {
    font-size: 1.3rem;
    font-weight: 500;
    padding: 4px 8px;
    border: none;
    border-radius: 20px;
    background: #ffffff;
    color: red;
}


.menu-cart__cart-Btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: auto;
    
}

.menu-cart__cart-closeBtn,
.menu-cart__cart-checkOutBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: 500;
}

.menu-cart__cart-checkOutBtn {
    background: #ff8800;
}

.menu {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding: 20px;
    max-width: 1000px;
    width: 100%;
    height: auto;
}

.menu__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background: #c69c6c;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.menu__item:hover {
    background: hsl(32, 44%, 55%);
    border-color: #1c1c1c;
}

.menu__item-files {
    max-width: 180px;
    width: 100%;
}

.menu__item-image {
    width: 100%;
    border-radius: 15px;
}

.menu__item-name,
.menu__item-price {
    font-size: 1.2rem;
    font-weight: 600;
    color: #1c1c1c;
    padding: 5px;
}

.menu__item-button {
    border: none;
    background: hsla(0, 11%, 21%, 0.337);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    font-size: 1.3rem;
    font-weight: 600;
    border: 2px solid transparent;
    padding: 8px;
    transition: all 0.3s ease;
}

.menu__item-button:hover {
    background: hsla(0, 11%, 31%, 0.337);
    border-color: #1c1c1c;
    font-size: 1.4rem;
}

.menu__item-button:active {
    background: hsla(0, 11%, 51%, 0.337);
    font-size: 1.2rem;
}

/*        CATEGORIES STYLEING START         */

.categories-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background: #c69c6c;
}

.categories {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    max-width: 1600px;
    width: 100%;
    height: 100vh;
    background: url(images/hero-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.categories__backBtm,
.categories__nextBtn {
    background: #c69c6c37;
    backdrop-filter: blur(20px);
    border: 2px solid transparent;
    border-radius: 100px;
    color: #1c1c1c;
    font-size: 4rem;
    font-weight: 300;
    padding: 10px;
    transition: all 0.3s ease;
}

.categories__backBtm:hover,
.categories__nextBtn:hover {
    border-color: #1c1c1c;
}

.categories__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    max-width: 900px;
    width: 100%;
    height: 600;
    background: #c69c6c33;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 40px;
}

.categories__item--active {
    display: flex;
}

.categories__item-files {
    max-width: 400px;
    width: 100%;
}

.categories__item-image {
    width: 100%;
    border-radius: 10px;
}

.categories__item-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
}

.categories__item-title {
    font-family: "Playwrite NZ Basic", "cursive";
    font-size: 3rem;
    font-weight: 1000;
    color: #1c1c1c;
}

.categories__item-subtitle {
    font-family: "Playwrite NZ Basic", "cursive";
    font-size: 1.8rem;
    font-weight: 700;
    color: #3b2f2f;
}

.categories__item-price {
    font-family: "Playwrite NZ Basic", "cursive";
    font-size: 1.8rem;
    font-weight: 700;
    color: #ffd700;
}

.categories__item-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 5px;
}

.categories__item-ordernowBtn,
.categories__item-moreBtn {
    font-family: "Playwrite NZ Basic", "cursive";
    background: transparent;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.8rem;
    font-weight: 700;
    color: #c69c6c;
    transition: all 0.3s ease;
}
.categories__item-likethisBtn:hover,
.categories__item-moreBtn {
    background: #c69c6c;
    color: #1c1c1c;
    border-color: #1c1c1c
}

.categories__item-ordernowBtn:hover,
.categories__item-likethisBtn {
    background: transparent;
    border-color: #1c1c1c;
    color: #c69c6c;
}