/*        Import Google Fonts       */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background: #0D1433;
}


.site-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    position: sticky;
    top: 0;
    margin-top: 10px;
    z-index: 999;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 20px;
    width: 100%;
    max-width: 1400px;
    height: 70px;
    background: #6c90c32d;
    backdrop-filter: blur(20px);
    box-shadow: 2px 2px 5px hsl(0, 1%, 54%);
    border-radius: 15px;
}

.navbar__logo {
    color: hsl(0, 0%, 100%);
    font-size: 2rem;
    font-weight: 600;
    font-family: "Playwrite NZ Basic", cursive;
    cursor: pointer;
}

.navbar__toggle {
    display: none;
    border: none;
    background: transparent;
    z-index: 999;
}

.navbar__toggle-bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    color: hsl(0, 0%, 100%);
}

.navbar__menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 15px;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.navbar__menu-link {
    text-decoration: none;
    font-size: 1.3rem;
    background: transparent;
    border: none;
    padding: 8px;
    border-radius: 15px;
    color: #ffffff;
    transition: all 0.4s ease;
}

.navbar__menu-link:active {
    font-size: 1.2rem;
}

.navbar__menu-link--active {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: 600;
    background: #350304;
    color: #d1d1d1;
    transition: all 3s ease;
}

@property --deg {
    syntax: '<angle>';
    inherits: true;
    initial-value: 0deg;
}

@keyframes spin {
    to {
        --deg: 360deg;
    }
}

.navbar__menu-link--active::before,
.navbar__menu-link--active::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: inherit;
    background: conic-gradient(
        from var(--deg) at center,
        #e5ff00,
        #000000,
        #000000,
        #f6ff00
    );
    z-index: -2;
    padding: 2px;
    transition: all 3s ease;
    animation: spin 3s linear infinite;
}

.navbar__menu-link--active::before {
    filter: blur(10px);
}