/*        Import Google Fonts       */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


.site-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    position: static;
    top: 0;
    background: #c69c6c;
    z-index: 999;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 20px;
    width: 100%;
    max-width: 1400px;
    height: 70px;
}

.navbar__logo {
    color: hsl(0, 0%, 100%);
    font-size: 2rem;
    font-weight: 600;
    font-family: "Playwrite NZ Basic", cursive;
    cursor: pointer;
}

.navbar__toggle {
    display: none;
    border: none;
    background: transparent;
    z-index: 999;
}

.navbar__toggle-bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    color: hsl(0, 0%, 100%);
}

.navbar__menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 15px;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.navbar__menu-link {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    background: transparent;
    border: none;
    padding: 8px;
    border-radius: 15px;
    color: #ffffff;
    transition: all 0.3s ease;
}

.navbar__menu-link:active {
    font-size: 1.4rem;
    font-weight: 600;
}

.navbar__menu-link--active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 8;
    font-size: 1.6rem;
    font-weight: 600;
    color: #1c1c1c;
    transition: all 0.4s ease;
}

.navbar__menu-link--active::after {
    content: "";
    width: 100%;
    height: 8%;
    position: absolute;
    border-radius: 20px;
    bottom: 0;
    background: #1c1c1c;
}
/*
@property --deg {
    syntax: '<angle>';
    inherits: true;
    initial-value: 0deg;
}

@keyframes spin {
    to {
        --deg: 360deg;
    }
}

.navbar__menu-link--active::before,
.navbar__menu-link--active::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: inherit;
    background: conic-gradient(
        from var(--deg) at center,
        #e5ff00,
        #000000,
        #000000,
        #f6ff00
    );
    z-index: -2;
    padding: 2px;
    transition: all 3s ease;
    animation: spin 3s linear infinite;
}

.navbar__menu-link--active::before {
    filter: blur(10px);
}
*/


.site-main {
    width: 100%;
    height: auto;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #c69c6c;
    width: 100%;
    height: auto;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1600px;
    width: 100%;
    height: 100vh;
    background: url(images/hero-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
    padding: 20px;
    background: #c69c6c2a;
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.hero__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
}

.hero__text-title {
    color: #c69c6c;
    font-size: 2.5rem;
    font-weight: 800;
}

.hero__text-subtitle {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 750;
}

.hero__text-paragraph {
    color: #040303;
    font-size: 1.8rem;
    font-weight: 700;
}

.hero__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.hero__btn-orderNow {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
    color: #1c1c1c;
    background: #c69c6c;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #c69c6c;
    transition: all 0.3s ease;
}


.hero__btn-more {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
    color: #c69c6c;
    border: 2px solid #c69c6c;
    padding: 10px;
    border-radius: 20px;
    background: transparent;
    transition: all 0.3s ease;
}

.hero__btn-orderNow:hover {
    background: none;
    color: #c69c6c;
}

.hero__btn-more:hover {
    background: #c69c6c;
    color: #1c1c1c;
}

.hero__btn-orderNow:active {
    background: hsl(32, 44%, 70%);
}

.hero__btn-more:active {
    background: hsl(32, 44%, 50%);
}

.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background: #c69c6c;
}

.about {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    max-width: 1400px;
    width: 100%;
    height: 100vh;
}

.about__files {
    max-width: 600px;
    width: 100%;
}

.about__files-image {
    width: 100%;
    border-radius: 400px;
}

.about__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    max-width: 800px;
    width: 100%;
}

.about__details-title {
    font-size: 2.5rem;
    font-weight: 800;
    color: #1c1c1c;
}

.about__details-paragraph {
    font-size: 1.4rem;
    font-weight: 500;
    color: #1c1c1c;
}

.about__details-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    border: none;
    border-radius: 10px;
}

.about__icon-instagram,
.about__icon-telegram,
.about__icon-twitter,
.about__icon-youtube {
    text-decoration: none;
    color: #1c1c1c;
    font-size: 3.5rem;
    font-weight: 800;
    padding: 5px;
    background: transparent;
    border: none;
}